# <img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> My name is Arthur Melton and I have ![Profile View Counter](https://komarev.com/ghpvc/?username=AMTitan) (Last updated on {{date}}).
<p align="center">
<img style="width:100%" src="https://github-readme-stats.vercel.app/api?username=AMTitan&show_icons=true&bg_color=30,e96443,904e95&title_color=fff&text_color=fff" /> 
</p>
<p align="center">
<img style="width:100%" src="https://github-readme-stats.vercel.app/api/top-langs/?username=AMTitan&layout=compact&bg_color=30,e96443,904e95&title_color=fff&text_color=fff" /> 
</p>
<p align="center">
<img style="width:100%" src="https://github-readme-stats.vercel.app/api/wakatime?username=AMTitan&layout=compact&bg_color=30,e96443,904e95&title_color=fff&text_color=fff" />
</p>

# Fun Facts

<h2> Weather </h2>
<p align="center">
<img src="http://openweathermap.org/img/w/{{icon}}.png">
</p>
<p align="center">
• The weather for me its a {{Des}} and the temperature is {{body.main.temp}}°C ({{FerTem}}°F) but it actually feels like {{body.main.feels_like}}°C ({{FerFel}}°F)!
</p>
<p align="center">
• The sun rise for me is at {{SunRise}} and the sun set is at {{SunSet}}!
</p>
<p align="center">
• The wind for me  is {{body.wind.speed}} meters/sec ({{WSmph}}mph)!
</p>
<p align="center">
• The persaintage of the sky is filled with clouds for me is {{body.clouds.all}}%!
</p>


<h2> Dog </h2>

<p align="center">
<img src="{{img.message}}">
</p>

<h2> Joke </h2>

<p align="center">
    {{joke.joke}}
</p>

